{% extends 'layout.twig' %}

{% block content %}

	<!-- Button trigger modal -->
	<button id="createUser" type="button" class="btn btn-primary btn-lg">
	  Launch demo modal
	</button>

	<table id="usuarios-table" class="table table-hover">
	  <thead>
	    <th>id</th>
	    <th>name</th>
	    <th>mail</th>
	    <th>actions</th>
	  </thead>
	  <tbody></tbody>
	</table>

	{% include 'usuarios/form.twig' %}

	<script type="text/javascript" src="{{basepath}}/assets/js/usuarios.js"></script>
{% endblock content %}
